body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #003000;
  font-family: Poppins, sans-serif;
}
.nav,
.navSection,
.navBox,
.option,
.optionBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* This is Navingation Section
In this three section
first : Logo, Delivery area
Second : Search Bar 
Third : Track Order, Add To Cart, More*/

header {
  top: 0;
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 11vh;
  padding: 1px 0;
  background-color: #033404;
}
header .nav {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
/* 3 Section dimension */
header .nav .navSection {
  position: relative;
  margin-left: 10px;
  padding: 1px;
}

/* header .navSection .logo {
} */
/* Delivery Select */
header .navFirst .city {
  margin-left: 15px;
  width: 110px;
  height: 25px;
  border-radius: 20px;
  padding-left: 25px;
}
/* Delivery Location Icon */
header .navFirst .fa-crosshairs {
  z-index: 1;
  position: absolute;
  right: 88px;
}

/* This is second section */
/* header .nav .navSecond {
} */
/* Search Bar */
header .nav .navSecond input {
  width: 250px;
  border: 0;
  padding-left: 15px;
  height: 25px;
  border-radius: 20px;
}

/* SearchBar Icon */
header .nav .navSecond i {
  position: absolute;
  right: 15px;
}

/* Third Section */

header .nav .navThird {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* navBar Third Section */
header .nav .navThird .navBox {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  place-items: center;
  width: 70px;
  height: 50px;
  /* background-color: aliceblue; */
}
header .nav .navThird .navBox button {
  border-radius: 10px;
  border: none;
}
.navThird .navbox2 {
  position: relative;
}

/* third section 4 Icon */
header .nav .navThird .navBox i {
  font-size: 20px;
}
/* third section 4 Icon Name */
header .nav .navThird .navBox div {
  margin-top: 5px;
  font-size: 10px;
}
/* Menu Bar in hidden  */
header .nav .navForth {
  /* flex-direction: column; */
  display: none;
}
header .nav .navForth .navBox4 button {
  background-color: transparent;
  border: none;
}

/* Login */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login .form-container button,
.login .overlay-container button {
  border-radius: 20px;
  border: 1px solid #003000;
  background-color: #003000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

body .login {
  z-index: 10;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* position: relative; */
  overflow: hidden;
  width: 768px;
  max-width: 80%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 6;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  z-index: 10;
  background: #003000;
  background: -webkit-linear-gradient(to right, #014201, #033404);
  background: linear-gradient(to right, #033404, #014201);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(40px);
  transition: transform 0.6s ease-in-out;
}

.login.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.login.right-panel-active .overlay-left {
  transform: translateX(-40px);
}
.upSlide span {
  font-size: 25px;
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login.right-panel-active .overlay-right {
  transform: translateX(10%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.cross {
  border-radius: 50%;
  padding: 10px 15px;
  color: white;
  font-size: 20px;
  border: none;
  background-color: #033404;
  padding: 1;
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* hidden menu bar responsive */
.slideMenu {
  display: none;
  z-index: 5;
  position: absolute;
  width: 200px;
  height: auto;
  /* background-color: #5737af; */
  right: 0;
  top: 55px;
  padding: 1px;
  backdrop-filter: blur(8px);
}

.slideMenu .slideMenuBox:nth-child(1) {
  padding: 0 auto;
  display: flex;
  width: 100%;
  height: 9vh;
  margin: 1px 0;
  /* background-color: #717171; */
}

.slideMenu .slideMenuBox {
  padding: 0 auto;
  border-bottom: 1px solid gray;
  display: flex;
  width: 100%;
  height: 7vh;
  margin: 1px 0;
  align-items: center;
  color: white;
  /* background-color: #717171; */
}

.slideMenu .slideMenuBox .navBox {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80px;
}
.slideMenu .slideMenuBox .navBox i {
  font-size: 20px;
  margin-bottom: 5px;
}
.slideMenu .slideMenuBox .navBox div {
  font-size: 12px;
  font-weight: bold;
}

.slideMenu .slideMenuBox .navBox1 {
  /* margin-left: 30px; */
}
.slideMenu .slideMenuBox i {
  font-size: 25px;
  margin-left: 5px;
  width: 40px;
  text-align: center;
}
.slideMenu .slideMenuBox div {
  margin-left: 10px;
}

/* Add toCart */
.cart {
  position: relative;
}
.cartAmount {
  z-index: 2;
  position: absolute;
  top: -40px;
  border-radius: 5px;
  right: -20px;
  font-size: 20px;
  width: auto;
  padding: 0 5px;
  background-color: red;
}

/* Option */
.option {
  margin: 5em 0 1em 0;
  width: 100%;
  height: auto;
  /* background-color: #5737af; */
}

.opetion .optionBox {
  width: 85%;
}
.option .optionBox .circleBox .circleName {
  margin-top: 5px;
  color: white;
  text-align: center;
  width: 80px;
  margin: 0 auto;
}

.option .optionBox .circleBox .circle {
  margin: 0 5px;
  width: 90px;
  height: 90px;
  background-color: #5737af;
  border-radius: 50%;
}

/* Slider Section */
.slider {
  width: 100%;
  height: 200px;
  position: relative;
}

.slider img {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  /* transition: all 0.5s ease-in-out; */
}

.slider img:first-child {
  z-index: 1;
}

.slider img:nth-child(2) {
  z-index: 0;
}

.playGame {
  text-align: center;
  z-index: 2;
  position: absolute;
  top: -5px;
  right: 50px;
  width: 100px;
  height: 80px;
}
.playGame a {
  font-size: 30px;
}
.playText {
  cursor: pointer;
  box-shadow: 2px 2px 5px #005f00, -2px -2px 5px #001700;
  color: white;
  background-color: #003000;
  width: auto;
  padding: 5px 10px;
}

.playGame .playHover {
  opacity: 0;
  top: -20px;
  left: -50px;
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: #fff;
}

.navigation-button {
  z-index: 2;
  margin-top: -20px;
  text-align: center;
  position: relative;
}

.dot {
  border: 2px solid #003000;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #003000;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  top: 10%;
  backdrop-filter: blur(8px);
  /* background-color: #717171; */
}

.upSlide {
  left: 50px;
  color: white;
  z-index: 2;
  position: absolute;
  top: 0px;
}

/* product */
.mainSection {
  width: 100%;
  height: auto;
  padding: 10px auto;
}

.product-container {
  text-align: center;
  width: 98%;
}
.product-container h3 {
  margin: 0 auto;
}
.products {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 300px;
  height: auto;
}
.product-under {
  width: 300px;
}
figure {
  margin: 0;
  position: relative;
}
.product-over {
  position: absolute;
  top: 36%;
  left: 40%;
  display: flex;
  flex-direction: column;
}
.product-summary h4 {
  margin: 0;
}
.product-summary span {
  margin: 0;
}
.product-summary p {
  margin: 0;
}
.product-summary h6 {
  margin: 0;
}

/* Section Offer*/

.sectionName {
  width: auto;
  padding: 2px;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}
.sectionDefination {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

#wrapper {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 84%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  height: auto;
}

.product-box {
  position: relative;
  width: 13em;
  height: auto;
  border: 1px solid darkgreen;
}

.product-box img {
  width: 13em;
  height: 14em;
}

.product-box .product-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
}
.product-title {
  padding: 5px 0;
  margin: 0;
  margin-left: 3px;
  color: white;
}
.product-container h2 {
  font-size: 15px;
  font-weight: lighter;
}
.product-price {
  margin-top: -25px;
  margin-right: 3px;
  padding: 5px 10px;
  background-color: #003000;
  border-radius: 50%;
}
.product-like {
  /* color: red; */
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 1;
}
.product-click-like {
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

.product-click-like:focus + .product-like {
  opacity: 1;
}
.product-box .add-cart {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 10px;
  background-color: #003000;
  border-bottom-left-radius: 10px;
  font-size: 16;
  transform: scale(1.1, 1.3);
}

.product-box img:hover {
  transform: scale(0.9, 0.9);
}

/* ProductInfo */
.plantInfo {
  position: relative;
  width: 90%;
  height: 25vh;
  color: white;
  margin: 0 auto;
}

.plantHead {
  width: 8em;
  animation: plantHead 1s infinite;
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes plantHead {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  30% {
    transform: scale(1.3, 1.3);
  }
  40% {
    transform: scale(1.4, 1.4);
  }
  50% {
    transform: scale(1.5, 1.5);
  }

  60% {
    transform: scale(1.4, 1.4);
  }
  70% {
    transform: scale(1.3, 1.3);
  }
  80% {
    transform: scale(1.2, 1.2);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.plantInfoUp {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 0 10px; */
}
.plantName {
  opacity: 0.5;
  width: auto;
  padding-bottom: 2px;
  border-bottom: 1px solid #002201;
  transform: scale(1, 1.8);
  margin: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.plantName:hover {
  opacity: 1;
  animation: borderLine 5s infinite;
  animation: plantname 1s;
}

@keyframes plantname {
  0% {
    transform: scale(1.1.8);
  }
  100% {
    transform: scale(1.2, 2);
  }
}

@keyframes borderLine {
  0% {
    border-bottom: 1px solid red;
  }
  10% {
    border-bottom: 1px solid yellow;
  }
  20% {
    border-bottom: 1px solid green;
  }
  30% {
    border-bottom: 1px solid rgb(0, 255, 255);
  }
  40% {
    border-bottom: 1px solid rgb(0, 0, 255);
  }
  50% {
    border-bottom: 1px solid rgb(255, 0, 255);
  }

  60% {
    border-bottom: 1px solid rgb(0, 0, 255);
  }
  70% {
    border-bottom: 1px solid rgb(0, 255, 255);
  }
  80% {
    border-bottom: 1px solid green;
  }
  90% {
    border-bottom: 1px solid yellow;
  }
  100% {
    border-bottom: 1px solid red;
  }
}

.plantInfoDown {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  font-size: 17px;
  text-align: justify;
  width: 95%;
  margin-top: 20px;
  margin-left: 30px;
}

/**
* ! Shop items are here
**/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  justify-content: center;
  gap: 30px;
}

.item {
  border: 2px solid #212529;
  border-radius: 4px;
  width: 220px;
  text-transform: capitalize;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: white;
}
.details h3 {
  margin: 0;
}
.details p {
  margin: 0;
  text-align: justify;
}
.details div h2 {
  margin: 0;
  text-align: justify;
}
.price-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 20px;
}

.bi-dash {
  cursor: pointer;
  color: red;
}

.bi-plus-lg {
  cursor: pointer;
  color: green;
}

/**
* ! Style rules for label and some button
**/
.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: black;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout {
  background-color: green;
}

.removeAll {
  background-color: red;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}

/**
* ! Style rules for Shopping Cart
**/

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

/**
* ! Style rules for Cart-item
**/

.cart-item {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
}

.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 3px 6px;
}

footer {
  position: relative;
  margin-top: 20vh;
  height: 50vh;
  width: 100%;
  background-color: #001700;
}
.footer1 {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -140px;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-size: 170px;
  color: #001700;
  font-weight: 900;
}
.footer2 {
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  width: 100%;
  height: 30vh;
  /* background-color: #002201; */
  justify-content: space-around;
}
.footer2Box {
  align-self: center;
  text-align: center;
  margin-top: 40px;
  /* height: 5vh; */
  /* background-color: #005f00; */
}
.footer2Box input {
  height: 18px;
  width: 55%;
  padding: 10px;
  font-size: 15px;
}
.footer2Box button {
  font-size: 15px;
  height: 40px;
  padding: 10px 5px;
  width: auto;
  border: 1px solid black;
  background-color: red;
}
.footerText {
  font-size: 20px;
  width: fit-content;
  border-bottom: 1px solid rgb(30, 131, 39);
  margin: 0 auto;
  margin-bottom: 5px;
  color: white;
  padding: 5px;
}
.footerMedia {
  margin-top: 10px;
}

.footer3 ul {
  display: flex;
  justify-content: space-around;
  margin: 30px 120px;
}

.footer3 ul li {
  padding: 2px;
  color: white;
  font-size: 17px;
  list-style: none;
  text-align: center;
}

.footer3 ul li:hover {
  border-bottom: 1px solid white;
}

.footer4 {
  color: white;
  width: auto;
  text-align: center;
}
.footer4 a {
  color: rgb(0, 160, 0);
}
.footer4 a:hover {
  color: green;
  border-bottom: 1px solid green;
}

@media only screen and (max-width: 1000px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    justify-content: center;
    column-gap: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .shop-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 2rem;
  }
  .plantInfo {
    position: relative;
    width: 90%;
    height: 37vh;
    color: white;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  /* body {
    background-color: #717171;
  } */
  header {
    height: 8vh;
  }
  header .nav .navForth {
    display: flex;
    flex-direction: column;
  }
  header .nav .navForth i {
    font-size: 25px;
    color: white;
    margin-right: 10px;
  }
  header .nav .navThird {
    display: none;
  }
  .optionBox {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 223px);
    justify-content: center;
    column-gap: 40px;
  }
  .slideMenu {
    display: none;
  }
  #check:checked ~ .slideMenu {
    display: block;
    z-index: 5;
    position: absolute;
    width: 250px;
    height: auto;
    background-color: #5737af;
    right: 0;
    top: 55px;
    padding: 1px;
  }
  .shop-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 2rem;
  }
  .plantInfo {
    position: relative;
    width: 90%;
    height: 45vh;
    color: white;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  /* body {
  } */
  header .nav .navSecond input {
    width: 150px;
  }
  header .nav .navForth .navBox .fa {
    margin-right: 10px;
    /* font-size: 20px; */
  }
  .shop {
    display: grid;
    grid-template-columns: repeat(1, 223px);
    justify-content: center;
    column-gap: 40px;
  }
  .upSlide p {
    font-size: 15px;
  }
  .plantInfo {
    position: relative;
    width: 90%;
    height: 60vh;
    color: white;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  /* body {
    background-color: #af3737;
  } */
  header {
    height: 7vh;
  }
  header .nav .navFirst img {
    width: 60px;
  }
  header .nav .navFirst select {
    width: 90px;
    font-size: 11px;
    padding-left: 15px;
  }
  header .nav .navFirst .fa {
    position: absolute;
    right: 73px;
  }
  header .nav .navForth .navBox .fa {
    margin-right: 10px;
    font-size: 20px;
  }
  .upSlide p {
    text-align: justify;
    font-size: 13px;
  }
  .circle {
    width: 70px;
    height: 70px;
  }
  .shop-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 2rem;
  }
  .plantInfo {
    position: relative;
    width: 90%;
    height: 60vh;
    color: white;
    margin: 0 auto;
  }
  .plantInfo .plantInfoDown {
    font-size: 16px;
    width: 85%;
  }
}

@media only screen and (max-width: 380px) {
  /* body {
    background-color: #5737af;
  } */
  header .nav .navSecond input {
    width: 90px;
    font-size: 12.5px;
    padding-left: 5px;
  }
  header .nav .navSecond i {
    right: 5px;
  }
  header .nav .navFirst select {
    width: 60px;
    padding-left: 13px;
  }
  header .nav .navFirst i {
    left: 80px;
    font-size: 14px;
  }
  .option .optionBox .circleBox .circle {
    width: 60px;
    height: 60px;
  }
  .plantName {
    font-size: 15px;
  }
  .plantInfo {
    position: relative;
    width: 90%;
    height: 62vh;
    color: white;
    margin: 0 auto;
  }
  .upSlide h2 {
    margin: 5px 0;
  }
}
